<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/modifiedAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,771},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/modifiedHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,771},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/modifiedMin.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,376},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/barCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,597},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/barHP.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,955},{130,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,25}</string>
			</dict>
			<key>ui/barHPBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,982},{136,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,29}</string>
			</dict>
			<key>ui/barRes.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,547},{137,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,26}</string>
			</dict>
			<key>ui/barResBoss.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1},{314,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,26}</string>
			</dict>
			<key>ui/barResIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,385},{172,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,36}</string>
			</dict>
			<key>ui/barResIconDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,559},{172,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,36}</string>
			</dict>
			<key>ui/barResRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,634},{137,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,26}</string>
			</dict>
			<key>ui/barResYellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,771},{137,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,26}</string>
			</dict>
			<key>ui/barSquareBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,955},{184,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,25}</string>
			</dict>
			<key>ui/btnCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,669},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnCircleDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,669},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnCircleDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,699},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnCommon.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,515},{150,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,70}</string>
			</dict>
			<key>ui/btnCommonDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,717},{150,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,70}</string>
			</dict>
			<key>ui/btnCommonDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,748},{150,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,70}</string>
			</dict>
			<key>ui/btnList.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,900},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/btnListDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,881},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/btnMessage.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,376},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ui/btnMessageDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,474},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ui/btnMessageDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,566},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ui/btnModified.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,474},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/btnModifiedDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,536},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/btnModifiedDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,598},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/btnPage.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,720},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,55}</string>
			</dict>
			<key>ui/btnPageDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,770},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,55}</string>
			</dict>
			<key>ui/btnPageDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,720},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,55}</string>
			</dict>
			<key>ui/btnPanelListDone.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,183},{200,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>ui/btnPanelListDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,317},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>ui/btnPanelListLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,469},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>ui/btnRes.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,799},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnResBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,903},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>ui/btnResDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,801},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnReward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,310},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnRewardDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,183},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,955},{60,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,75}</string>
			</dict>
			<key>ui/btnRightDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,475},{60,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,75}</string>
			</dict>
			<key>ui/btnRightDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,412},{60,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,75}</string>
			</dict>
			<key>ui/btnSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,768},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>ui/btnSkill.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,310},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnSkillDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,183},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/btnUpdate.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,658},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/btnUpdateDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,708},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/btnUpdateDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,658},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/imgEvent.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,901},{80,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>ui/imgEventHand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,412},{105,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,60}</string>
			</dict>
			<key>ui/imgEventLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,982},{104,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,40}</string>
			</dict>
			<key>ui/imgLock.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,955},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>ui/imgLoginText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,982},{210,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,25}</string>
			</dict>
			<key>ui/imgName.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,621},{125,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,50}</string>
			</dict>
			<key>ui/imgPanelPage.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{270,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,180}</string>
			</dict>
			<key>ui/imgPortraitsSquare.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,475},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>ui/imgSelectMap_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,143},{330,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,90}</string>
			</dict>
			<key>ui/imgSelectMap_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,183},{330,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,90}</string>
			</dict>
			<key>ui/imgTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1},{365,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,140}</string>
			</dict>
			<key>ui/imgTitleDragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{327,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,180}</string>
			</dict>
			<key>ui/imgTitleLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,183},{330,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,60}</string>
			</dict>
			<key>ui/imgText.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,143},{250,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,165}</string>
			</dict>
			<key>ui/modifiedSkill.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,745},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>ui/modifiedSkillMin.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,792},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>ui/modifiedEquip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,827},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>ui/Slider_Back.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,143},{200,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,14}</string>
			</dict>
			<key>ui/Slider_PressBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,345},{200,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,14}</string>
			</dict>
			<key>ui/imgTitleLine02.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,385},{330,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,70}</string>
			</dict>
			<key>ui/SliderNode_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,667},{60,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,70}</string>
			</dict>
			<key>ui/SliderNode_Press.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,412},{60,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,70}</string>
			</dict>
			<key>ui/imgTitleTavern.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,515},{297,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,74}</string>
			</dict>
			<key>ui/imgIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,745},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/imgIconDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,769},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/barEXP.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,777},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>ui/imgSerial1.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,310},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/imgSerial2.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,310},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/imgSerial3.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,310},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/imgSerial4.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,310},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/imgTextUpdate.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,869},{100,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,140}</string>
			</dict>
			<key>ui/barResAch.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1},{314,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,26}</string>
			</dict>
			<key>ui/cursor.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,143},{2,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,20}</string>
			</dict>
			<key>ui/imgSerialPVP1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,551},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/imgSerialPVP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,617},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/imgSerialPVP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,576},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/imgSerialPVP4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,642},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/logocomBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,982},{103,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,33}</string>
			</dict>
			<key>ui/imgCardValuable.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,183},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/imgPrivilege.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,547},{120,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,85}</string>
			</dict>
			<key>ui/iconTeam.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,821},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>ui/btnCameraStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,660},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/btnCameraStop.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,683},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/imgSerial.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,803},{45,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,57}</string>
			</dict>
			<key>ui/btnTag1.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,686},{80,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>
			<key>ui/btnTag2.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,799},{80,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>
			<key>ui/imgSerialMop.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,722},{45,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,57}</string>
			</dict>
			<key>ui/btnAuto1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,387},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/btnAuto2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,469},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/modifiedWrite.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,408},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/imgDragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,376},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>ui/imgLove.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,797},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/modifiedAI.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,440},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/modifiedShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,576},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/btnTagTask1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,475},{65,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,125}</string>
			</dict>
			<key>ui/btnTagTask2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,542},{65,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,125}</string>
			</dict>
			<key>ui/imgIconSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,839},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/imgIconYes.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,777},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/modifiedLock.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,608},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/imgLoginTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,982},{175,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,30}</string>
			</dict>
			<key>ui/imgCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,285},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/imgCardLoot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,474},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/imgList.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,814},{180,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,100}</string>
			</dict>
			<key>ui/imgChat.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,733},{220,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,100}</string>
			</dict>
			<key>ui/iconRelic.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,824},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>