<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/monster/images/slime_animation/slime/d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,686},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,686},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,303},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,684},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/dun.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,558},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,877},{109,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,59}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/img3.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/img4.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,1},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/img5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,877},{77,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,107}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,679},{196,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,207}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,983},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,252},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/yan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,600},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,104},{100,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,13}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,303},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/z.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,206},{44,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,15}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,983},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,40}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/zui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,650},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/zui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,983},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime/zui4.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,303},{63,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,558},{104,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,174}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,361},{195,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,279}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,361},{147,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,198}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/cao.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,879},{85,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,65}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/fu.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,658},{83,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,133}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/gaog.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,303},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/gy.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,793},{84,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,1},{27,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,216}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,561},{87,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,140}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,600},{159,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,77}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,983},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,303},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,303},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,983},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,40}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/zui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,650},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/zui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,650},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img1.png</string>
			<key>realTextureFileName</key>
			<string>img1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>