<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gai.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,401},{44,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,168},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,173},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,1},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,182},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,349},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,182},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,363},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,530},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,535},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,363},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,702},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,711},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,716},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,544},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,758},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,544},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/gongji0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,758},{212,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,179}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,530},{170,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,79}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,892},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/ping.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,916},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/she2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,355},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{287,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,170}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,95},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/y1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,916},{140,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,77}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/y2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,892},{101,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,118}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/y3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,897},{140,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,79}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,168},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/yan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,277},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,173},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,173},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/you.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,330},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,13}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/youmao.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,316},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/yyy.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,343},{13,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,10}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/yyy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,95},{9,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,3}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,40}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/zui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,481},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/zui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,447},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,276},{14,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,19}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gargamel/zuomao.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,297},{14,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,17}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_bandit/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1},{263,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img3.png</string>
			<key>realTextureFileName</key>
			<string>img3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>