<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/monster/images/slime_animation/slime_dark_dragon/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,466},{198,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,208}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/dao.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,869},{77,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,137}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/dao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,869},{77,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,137}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/dun.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,697},{95,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,96}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1},{27,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,257}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/img10.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,852},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/img6.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,466},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/img7.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,590},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/img8.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,697},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/img9.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,827},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,230},{153,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,230},{265,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,157}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,195},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,948},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/yan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,852},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,389},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,195},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/z.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,952},{109,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,59}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,423},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,40}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/zui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,366},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_gladiator/zui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,301},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,948},{109,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,59}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img10.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,230},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,676},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img3.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,466},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img4.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,230},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img5.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,659},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img6.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,466},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img7.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,230},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img8.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,659},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/img9.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,423},{191,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,165}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{229,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,229}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{296,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,183}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,260},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,899},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/yan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,946},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,952},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/zhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1},{95,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,192}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,423},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,40}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/zui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,416},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/zui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,364},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img4.png</string>
			<key>realTextureFileName</key>
			<string>img4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>