<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/monster/images/slime_animation/slime_mage/mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,509},{253,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,140}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/dd.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,959},{52,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,182}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/g.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,880},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/h.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,880},{82,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,57}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/h2.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,880},{102,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,100}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/h3.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,452},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/h4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{135,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,134}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/h5.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,715},{135,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,128}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/mianju.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,230},{257,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,236}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,576},{137,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,128}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/q.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,758},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/qiangkouhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,755},{52,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,38}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,402},{201,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,192}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,468},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,547},{107,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,46}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/yan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,468},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,284},{98,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,12}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_predator/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,303},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,959},{185,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,959},{185,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,880},{185,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/dun.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,402},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,144}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/img10.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,548},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/img6.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,852},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/img7.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,851},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/img8.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,759},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/img9.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,651},{128,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,105}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,303},{242,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,244}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/qiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1},{95,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,281}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,230},{323,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,170}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,745},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,656},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/yan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,880},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,303},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,531},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,982},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,40}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/zui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,468},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_sparta/zui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,755},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/dun.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,755},{88,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,106}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,959},{109,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,59}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/img5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,284},{98,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,166}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,678},{200,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,132}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,596},{196,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,157}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/y.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,845},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,880},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/yan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,880},{107,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,45}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,406},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,959},{226,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,56}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,651},{92,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,40}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/zui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,795},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/zui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,651},{61,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img5.png</string>
			<key>realTextureFileName</key>
			<string>img5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>