<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/monster/images/slime_animation/slime_swordman/d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,595},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/img3.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,0},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_swordman/img4.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,0},{323,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,300}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,300},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,595},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,300},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,300},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/shen.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,595},{308,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,172}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/y1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,890},{177,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,71}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_zorro/y2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,890},{86,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,107}</string>
			</dict>
			<key>animation/monster/images/slime_animation/slime_mage/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,527},{295,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,227}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img6.png</string>
			<key>realTextureFileName</key>
			<string>img6.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>