<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/icon/iconLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,434},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconLevel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,516},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconLevel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,516},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconLevel3.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,598},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconLevel4.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,795},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconLevel5.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,680},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconStar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>ui/icon/iconStar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,113},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>ui/icon/iconStar3.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,225},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>ui/icon/iconStar4.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,337},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>ui/icon/iconStar5.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,449},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>ui/icon/iconStar6.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,561},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>ui/icon/iconState.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,608},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ui/icon/iconUnknow.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,877},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconUnlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,762},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusDead.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,673},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,844},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusSelectAuto.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,926},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusSelectEnemy.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,755},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusSelectHero.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,673},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusSelectSkill.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,837},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsEmo.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,919},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsFeixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,755},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsMofa.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,673},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsRenxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,837},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsSheji.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,919},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsShen.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,608},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsShensheng.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,608},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsYeshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,690},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsZhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,690},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/corps/corpsZhuangjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,772},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusWarning.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,854},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconHero.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,673},{155,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,380}</string>
			</dict>
			<key>ui/icon/iconLevel6.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,936},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/status/statusHeroDead.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,772},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/gemCommon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{605,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{605,125}</string>
			</dict>
			<key>ui/icon/gemDragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1},{605,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{605,125}</string>
			</dict>
			<key>ui/icon/gemDwarf.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1},{605,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{605,125}</string>
			</dict>
			<key>ui/icon/gemCrucible.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1},{605,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{605,125}</string>
			</dict>
			<key>ui/icon/prop/resGemMonth.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,673},{120,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>ui/icon/prop/resGemMonth2.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,128},{120,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>ui/icon/btnRebate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,830},{210,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,120}</string>
			</dict>
			<key>ui/icon/btnRebate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,830},{210,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,120}</string>
			</dict>
			<key>ui/icon/prop/resGemMonth3.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,230},{120,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>ui/icon/prop/resGemMonth4.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,332},{120,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>ui/icon/iconWechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,772},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/iconLevelLoot.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,854},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistDefault.png</string>
			<key>realTextureFileName</key>
			<string>plistDefault.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>