<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/icon/skill/bscg_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/bscg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/bscg_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/bz_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/bz_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/bz_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/cf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/cf_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/cf_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/cf_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/cf_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/dp_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/dy_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/dy_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/fbs_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/fbs_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/flcg_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/hyfs_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/hyfs_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/hyfs_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/hyfs_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jlcg_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jx_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jx_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/jx_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/kbry_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/kbry_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/kbry_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/ld_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/mzj_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/mzj_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/mzj_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/qj_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/qj_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/qj_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/qj_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/qlcg_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/qlcg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/qlcg_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/sfds_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/sfds_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/sfds_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/sy_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/sy_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/xf_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/xf_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/xf_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/yf_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/ys_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/zl_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/zl_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/zl_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/zl_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/zl_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/zz_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/zz_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffGushenzuzhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffHujia.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffJiqiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffKangxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffLiliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffLiuxie.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffMoli.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffSudu.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffWenyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffZhuoshang.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffFanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffHuichun.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffHujia.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffJiqiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffKangxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffLiliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffMoli.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffSudu.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/buffChaofeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/debuffYunxuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/ymr_hnz.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/ymr_sg.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/mon_xe1.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/mon_xe2.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/skill/mon_xe3.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistSkill.png</string>
			<key>realTextureFileName</key>
			<string>plistSkill.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>