<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/icon/equip/staffGad.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/robeOracle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/swordIce.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/lootAnniversary.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/staffElves.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicAmulet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicArmour.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicAxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicCloak.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicDagger.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicGun.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicHammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicHelm.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicRing.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicStaff.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicSword.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/armorGiant.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicGown.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicPendant.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/relicWrister.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/darkAxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/darkDagger.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/darkGun.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/darkHammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/darkStaff.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/equip/darkSword.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistEquip2.png</string>
			<key>realTextureFileName</key>
			<string>plistEquip2.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>