<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/icon/class/classAchievement.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classFire.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classRanking.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classRecruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetClosed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetMail.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetRefresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetSound.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetThumb.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetYes.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classMusic.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetPush.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetPushOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetRun.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetWalk.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/shareClosed.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/shareFacebook.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{247,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/shareMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/shareQQ.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{247,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/shareWeibo.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{247,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/shareWeixin.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{247,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classMoregame.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classMusicDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classMusicOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classMusicOffDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetSoundDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetSoundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetSoundOffDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classSetDeveloper.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/btnAuto.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classStatistics.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classGamecenter.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classVedio.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classCDK.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classMove1.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classMove2.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classPhone.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classRecast.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classStory.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classTask.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/class/classScene.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistClass.png</string>
			<key>realTextureFileName</key>
			<string>plistClass.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>