<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/icon/prop/elementDragonBone.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementIngot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRune.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRunic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBadgeMage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBadgeRobbers.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBadgeWarrior.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBlueprint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBook.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBrain.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propChest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propClaw.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propCrystal.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propDust.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propEther.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propFruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propHerb.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propHide.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propKindling.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propLens.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propMeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propMineral.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propPickaroon.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propResurrect.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propStatue.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propTorch.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propVenom.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propViscera.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propWood.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resCrystal.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resFood.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resGem.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resHP.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resIron.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resMithril.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resSoul.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resSP.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resWood.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/iconKeys.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapCook.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapCure.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapEncamp.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapEquip.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapFix.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapJoke.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapPack.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapTeam.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/messageJudge.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/messageMail.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/messageResource.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/messageTask.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/mapEncampFire.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBlood.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSolidfood.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propThick.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propTombarthite.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/iconHorn.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propEyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/iconFur.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/iconAsh.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRune2.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRunicConstitution.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRunicCrazy.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRunicMagic.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRunicPower.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRunicSkill.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementRunicSpeed.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propRuby.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSapphire.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/iconMirror.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resGemMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/iconHonor.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resAC.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSilvercoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propTent.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propLadder.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBloodDragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,247},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBloodEvil.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBranch.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBucket.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propClassics.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propDoll.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propDrawing.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propFire.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propHand.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propHidden.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSkull.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBlackpowder.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propConicalbeaker.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propEmblem.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propExcalibur.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propRose.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propToxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/buildTavern.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propRing.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propArmor.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBksymg.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propTask.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/hammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propBloodBlack.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propCrystalBlack.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propPipeline.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propStone.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propPack.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,411},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propDagger.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propDaggerold.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propFirestone.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propGunpowder.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propHook.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propLogbook.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propMagma.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propMagmabox.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSeacrystal.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSeaheart.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSirenheart.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,493},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propTear.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/badgeStronger.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/badgeStrongerDebris.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipArmorNight.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipMoonArmour.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipMoonAxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipMoonDagger.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipMoonGun.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipMoonHammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,575},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipMoonStaff.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/chipMoonSword.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propMusic.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSign.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propMagicEyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propResurrectThirsty.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/badgesAnniversary.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,657},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/resSoulBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,821},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propMillstone.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,903},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/elementIngotBlack.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ui/icon/prop/propLostGhost.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,739},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistProp.png</string>
			<key>realTextureFileName</key>
			<string>plistProp.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>