<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/attack/efo_fire/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,679},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,928},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,517},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,931},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,403},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,193},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,355},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,517},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,766},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,163},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,287},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,449},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,611},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,735},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,850},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,287},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,163},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/46.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,402},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/61.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,451},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,259},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/67.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,451},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/68.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,643},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/69.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,835},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/70.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,193},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/71.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/72.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,385},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/73.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,577},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/74.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,769},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/51.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,604},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,729},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/53.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,830},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/54.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,830},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,278},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/ef_ui/efanniuguangban01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ef10.png</string>
			<key>realTextureFileName</key>
			<string>ef10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>