<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/scene/sceneTree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,776},{184,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,240}</string>
			</dict>
			<key>animation/res/scene/sceneTree2.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,776},{184,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,240}</string>
			</dict>
			<key>animation/res/scene/sceneTree3.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>animation/res/scene/sceneMainWarehouse1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{416,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{416,499}</string>
			</dict>
			<key>animation/res/scene/sceneMainWarehouse2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,502},{416,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{416,499}</string>
			</dict>
			<key>animation/res/scene/sceneMainPVP.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1},{456,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{456,283}</string>
			</dict>
			<key>animation/res/scene/sceneMainPVP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,286},{456,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{456,283}</string>
			</dict>
			<key>animation/res/scene/sceneMainCemetery1.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,571},{371,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,203}</string>
			</dict>
			<key>animation/res/scene/sceneMainCemetery2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,571},{371,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,203}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scene2.png</string>
			<key>realTextureFileName</key>
			<string>scene2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>