<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/scene/anBattle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>animation/res/scene/anBattle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,371},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>animation/res/scene/anBattle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,371},{29,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,46}</string>
			</dict>
			<key>animation/res/scene/anCemetery.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,421},{371,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,203}</string>
			</dict>
			<key>animation/res/scene/anLight.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,371},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>animation/res/scene/cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,822},{500,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,183}</string>
			</dict>
			<key>animation/res/scene/MainBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,421},{399,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,334}</string>
			</dict>
			<key>animation/res/scene/MainFG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,371},{80,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,67}</string>
			</dict>
			<key>animation/res/scene/sceneCrucible1.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,371},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/res/scene/sceneCrucible2.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,503},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/res/scene/sceneCrucible3.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,635},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/res/scene/sceneMainAtelier3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,608},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>
			<key>animation/res/scene/sceneMainBattle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,635},{228,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,151}</string>
			</dict>
			<key>animation/res/scene/sceneMainBattle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,767},{228,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,151}</string>
			</dict>
			<key>animation/res/scene/sceneMainBattle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,257},{80,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,53}</string>
			</dict>
			<key>animation/res/scene/sceneMainCastle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,93},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>animation/res/scene/sceneMainCastle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{476,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,368}</string>
			</dict>
			<key>animation/res/scene/sceneMainCastle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1},{476,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,368}</string>
			</dict>
			<key>animation/res/scene/sceneMainCemetery3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,371},{80,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,44}</string>
			</dict>
			<key>animation/res/scene/sceneMainManor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,519},{80,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,87}</string>
			</dict>
			<key>animation/res/scene/sceneMainMarket3.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,685},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>
			<key>animation/res/scene/sceneMainPVP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,339},{80,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,50}</string>
			</dict>
			<key>animation/res/scene/sceneMainTavern3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,175},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>animation/res/scene/sceneMainWarehouse3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,421},{80,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,96}</string>
			</dict>
			<key>animation/res/scene/sceneMainCastle1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,794},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scene1.png</string>
			<key>realTextureFileName</key>
			<string>scene1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>