<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroRenleishushi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,339},{262,624}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,624}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleishushi/stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,873},{127,763}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,763}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroWuyi/arm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,628},{243,843}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,843}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroWuyi/body_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{375,625}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,625}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroXincike/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1},{159,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,297}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroXincike/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1},{143,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,336}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroXincike/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1},{220,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,279}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYamaxun/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,873},{131,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,222}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYamaxun/hair.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,603},{197,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,119}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon12.png</string>
			<key>realTextureFileName</key>
			<string>mon12.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>