<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/monDadao/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,360},{167,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,157}</string>
			</dict>
			<key>animation/res/monster/heroHetu/monDadao/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1},{142,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,528}</string>
			</dict>
			<key>animation/res/monster/heroHetu/monBaipaoxianzhe/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,531},{146,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,463}</string>
			</dict>
			<key>animation/res/monster/heroHetu/monBaipaoxianzhe/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,745},{142,567}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,567}</string>
			</dict>
			<key>animation/res/monster/monAnyuezhinv/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,995},{27,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,198}</string>
			</dict>
			<key>animation/res/monster/monAnyuezhinv/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,966},{27,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,200}</string>
			</dict>
			<key>animation/res/monster/monAnyuezhinv/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,901},{96,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,112}</string>
			</dict>
			<key>animation/res/monster/monAnyuezhinv/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,889},{166,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,118}</string>
			</dict>
			<key>animation/res/monster/monAnyuezhinv/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,679},{220,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,306}</string>
			</dict>
			<key>animation/res/monster/monChailangren/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,170},{161,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,191}</string>
			</dict>
			<key>animation/res/monster/monChailangren/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1},{193,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,167}</string>
			</dict>
			<key>animation/res/monster/monChailangren/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{293,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,370}</string>
			</dict>
			<key>animation/res/monster/monChailangren/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1},{186,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,239}</string>
			</dict>
			<key>animation/res/monster/monChailangren/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,889},{75,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,259}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,363},{161,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,191}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1},{193,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,167}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{293,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,370}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,242},{186,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,239}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,889},{75,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,259}</string>
			</dict>
			<key>animation/res/monster/monDijing/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,170},{148,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,188}</string>
			</dict>
			<key>animation/res/monster/monDijing/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,531},{144,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,174}</string>
			</dict>
			<key>animation/res/monster/monDijing/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,901},{108,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,133}</string>
			</dict>
			<key>animation/res/monster/monDijing/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,679},{148,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,109}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon19.png</string>
			<key>realTextureFileName</key>
			<string>mon19.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>