<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroRenleinanzhanshi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{328,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,519}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanqiangxia/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,838},{144,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,159}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanqiangxia/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,330},{170,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,224}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,856},{155,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,235}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/equip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,921},{81,582}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,582}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinvqiangxia/arm_l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,212},{93,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,116}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinvqiangxia/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1},{441,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,272}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinvqiangxia/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,525},{114,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,329}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinvqiangxia/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,556},{158,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,220}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinvqiangxia/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,525},{157,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,226}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinvqiangxia/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{466,588}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,588}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleishushi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,275},{248,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,362}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleishushi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1},{80,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,209}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleishushi/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,716},{120,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,195}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon10.png</string>
			<key>realTextureFileName</key>
			<string>mon10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>