<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroZhongjiazhanshi/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{229,659}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,659}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhongjiazhanshi/arm_r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,261},{166,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,204}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhongjiazhanshi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,478},{208,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,247}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhongjiazhanshi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{288,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,544}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhongjiazhanshi/sheild.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1},{308,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,475}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhuoernvcike/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,778},{131,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,442}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhuoernvcike/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,911},{96,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,206}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhuoernvcike/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1},{171,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,258}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhuoernvcike/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,478},{125,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,118}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroZhuoernvcike/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{181,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,564}</string>
			</dict>
			<key>animation/res/monster/heroHetu/monBaipaoxianzhe/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{146,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,463}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon17.png</string>
			<key>realTextureFileName</key>
			<string>mon17.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>