<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroYamaxun/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{534,672}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{534,672}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYamaxun/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1},{264,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,542}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYizukuangzhanshi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1},{200,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,364}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYizukuangzhanshi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,651},{230,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,245}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYizukuangzhanshi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,675},{276,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,538}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYoulingnvzhan/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,545},{104,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,343}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYoulingnvzhan/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,651},{207,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,272}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon14.png</string>
			<key>realTextureFileName</key>
			<string>mon14.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>