<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monHeiyimoshen/feng/hand_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,945},{77,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,139}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/feng/hand_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,626},{79,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,50}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/feng/hand_rb.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,295},{92,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,154}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/feng/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,720},{198,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,255}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/feng/weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1},{132,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,338}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/feng/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,404},{127,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,387}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/feng/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,652},{139,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,401}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,170},{123,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,202}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/hand_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,156},{55,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,137}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/hand_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,945},{77,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,139}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/hand_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,267},{79,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,50}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,404},{47,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,116}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,793},{198,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,255}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{132,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,530}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,404},{127,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,387}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,652},{139,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,401}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1},{123,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,202}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/hand_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,341},{55,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,137}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/hand_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,126},{77,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,139}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/hand_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,319},{79,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,50}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,389},{47,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,116}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,793},{198,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,255}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,533},{117,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,494}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1},{127,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,387}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1},{139,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,401}</string>
			</dict>
			<key>animation/res/monster/monJinglingfashi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,533},{91,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,436}</string>
			</dict>
			<key>animation/res/monster/monJinglingfashi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1},{73,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,153}</string>
			</dict>
			<key>animation/res/monster/monJinglingfashi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,126},{116,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,136}</string>
			</dict>
			<key>animation/res/monster/monJinglingfashi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,626},{62,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,73}</string>
			</dict>
			<key>animation/res/monster/monJinglingfashi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,793},{150,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,272}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{167,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,167}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,295},{58,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,92}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,295},{90,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,164}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/ll.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,522},{83,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,196}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon24.png</string>
			<key>realTextureFileName</key>
			<string>mon24.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>