<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroBanshenrendaozei/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,332},{244,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,254}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroJinglingfashi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,712},{182,871}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,871}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroYizukuangzhanshi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{254,709}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,709}</string>
			</dict>
			<key>animation/res/monster/heroHetu/monBaipaoxianzhe/bible.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,166},{164,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,131}</string>
			</dict>
			<key>animation/res/monster/heroHetu/monBaipaoxianzhe/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{163,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,132}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,896},{108,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,133}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/guang/hand_rb.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,896},{92,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,154}</string>
			</dict>
			<key>animation/res/monster/monHeiyimoshen/shui/hand_rb.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,896},{92,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,154}</string>
			</dict>
			<key>animation/res/monster/monJuren/headWater.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,896},{111,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,169}</string>
			</dict>
			<key>animation/res/monster/monJuren/headWind.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,896},{111,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,169}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1},{176,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,293}</string>
			</dict>
			<key>animation/res/monster/monLong/binglong/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,332},{174,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,302}</string>
			</dict>
			<key>animation/res/monster/monLong/binglong/leg_bl.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1},{182,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,221}</string>
			</dict>
			<key>animation/res/monster/monLong/binglong/leg_br.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,896},{96,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,183}</string>
			</dict>
			<key>animation/res/monster/monLong/binglong/leg_fl.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,332},{237,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,359}</string>
			</dict>
			<key>animation/res/monster/monLong/binglong/leg_fr.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{176,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,237}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon26.png</string>
			<key>realTextureFileName</key>
			<string>mon26.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>