<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monDijing/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,260},{196,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,165}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,427},{148,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,188}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,613},{144,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,174}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,828},{148,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,109}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,415},{196,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,165}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/8_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,266},{147,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,325}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,759},{105,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,190}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,141},{117,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,202}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,608},{112,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,159}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,968},{47,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,121}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1},{182,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,280}</string>
			</dict>
			<key>animation/res/monster/monEling/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,415},{119,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,191}</string>
			</dict>
			<key>animation/res/monster/monEling/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,819},{112,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,165}</string>
			</dict>
			<key>animation/res/monster/monEling/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,582},{92,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,197}</string>
			</dict>
			<key>animation/res/monster/monEling/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1},{138,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,262}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/arm_l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,714},{85,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,127}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,582},{85,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,244}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{212,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,527}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1},{167,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,247}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,577},{198,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,135}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,476},{198,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,135}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{213,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,436}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,781},{77,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,190}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,826},{103,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,148}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,714},{110,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,150}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,476},{73,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,59}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,283},{191,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,263}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,626},{77,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,191}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,843},{103,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,148}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,769},{110,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,150}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,551},{73,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,59}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{191,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,263}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon20.png</string>
			<key>realTextureFileName</key>
			<string>mon20.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>