<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monShenyuanmoxi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,626},{212,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,313}</string>
			</dict>
			<key>animation/res/monster/monShenyuanmoxi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,645},{171,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,191}</string>
			</dict>
			<key>animation/res/monster/monShenyuanmoxi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{849,534}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{849,534}</string>
			</dict>
			<key>animation/res/monster/monShenyuanmoxi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,645},{399,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,354}</string>
			</dict>
			<key>animation/res/monster/monShifugui/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,941},{72,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,212}</string>
			</dict>
			<key>animation/res/monster/monShifugui/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,537},{88,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,227}</string>
			</dict>
			<key>animation/res/monster/monShifugui/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,892},{114,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,178}</string>
			</dict>
			<key>animation/res/monster/monShifugui/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,537},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,64}</string>
			</dict>
			<key>animation/res/monster/monShifugui/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,406},{150,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,237}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,537},{87,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,219}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,537},{80,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,206}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,838},{103,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,115}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,892},{101,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,128}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,619},{218,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,271}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,1},{169,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,403}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon39.png</string>
			<key>realTextureFileName</key>
			<string>mon39.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>