<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monLong/honglong/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{731,971}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{731,971}</string>
			</dict>
			<key>animation/res/monster/monLong/long/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,534},{217,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,288}</string>
			</dict>
			<key>animation/res/monster/monLong/long/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,753},{220,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,258}</string>
			</dict>
			<key>animation/res/monster/monLong/lvlong/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1},{295,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,284}</string>
			</dict>
			<key>animation/res/monster/monLong/lvlong/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,298},{234,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,282}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon30.png</string>
			<key>realTextureFileName</key>
			<string>mon30.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>