<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monXiaolong/jaw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,840},{153,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,144}</string>
			</dict>
			<key>animation/res/monster/monXieyan/chushou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,204},{96,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,112}</string>
			</dict>
			<key>animation/res/monster/monXieyan/chushou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,403},{75,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,83}</string>
			</dict>
			<key>animation/res/monster/monXieyan/chushou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,582},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>
			<key>animation/res/monster/monXieyan/chushou4.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,302},{104,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,91}</string>
			</dict>
			<key>animation/res/monster/monXieyan/chushou5.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,668},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>
			<key>animation/res/monster/monXieyan/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,443},{201,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,223}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{217,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,400}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{201,446}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,446}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,204},{237,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,326}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,317},{202,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,289}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,314}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,403},{158,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,435}</string>
			</dict>
			<key>animation/res/monster/monYezhu/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,488},{67,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,92}</string>
			</dict>
			<key>animation/res/monster/monYezhu/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,395},{94,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,98}</string>
			</dict>
			<key>animation/res/monster/monYezhu/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,608},{225,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,251}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon41.png</string>
			<key>realTextureFileName</key>
			<string>mon41.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>