<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monYezhu/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,302},{227,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,321}</string>
			</dict>
			<key>animation/res/monster/monYouling/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1},{119,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,191}</string>
			</dict>
			<key>animation/res/monster/monYouling/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,742},{112,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,165}</string>
			</dict>
			<key>animation/res/monster/monYouling/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,453},{92,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,197}</string>
			</dict>
			<key>animation/res/monster/monYouling/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,872},{138,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,262}</string>
			</dict>
			<key>animation/res/monster/monYuren/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,223},{81,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,257}</string>
			</dict>
			<key>animation/res/monster/monYuren/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1},{185,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,254}</string>
			</dict>
			<key>animation/res/monster/monYuren/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,488},{134,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,198}</string>
			</dict>
			<key>animation/res/monster/monYuren/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,708},{62,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,102}</string>
			</dict>
			<key>animation/res/monster/monYuren/tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,625},{266,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,206}</string>
			</dict>
			<key>animation/res/monster/monZhuoernvcike/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,327},{66,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,221}</string>
			</dict>
			<key>animation/res/monster/monZhuoernvcike/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,652},{48,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,103}</string>
			</dict>
			<key>animation/res/monster/monZhuoernvcike/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,482},{86,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,129}</string>
			</dict>
			<key>animation/res/monster/monZhuoernvcike/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,731},{63,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,59}</string>
			</dict>
			<key>animation/res/monster/monZhuoernvcike/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,234},{91,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,282}</string>
			</dict>
			<key>animation/res/monster/new/newCike/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,718},{104,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,93}</string>
			</dict>
			<key>animation/res/monster/new/newCike/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,781},{83,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,120}</string>
			</dict>
			<key>animation/res/monster/new/newCike/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,550},{67,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,156}</string>
			</dict>
			<key>animation/res/monster/new/newCike/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,302},{158,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,302}</string>
			</dict>
			<key>animation/res/monster/new/newCike/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,624},{116,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,165}</string>
			</dict>
			<key>animation/res/monster/new/newFamugongren/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,667},{112,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,137}</string>
			</dict>
			<key>animation/res/monster/new/newFamugongren/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,866},{89,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,98}</string>
			</dict>
			<key>animation/res/monster/new/newFamugongren/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1},{142,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,231}</string>
			</dict>
			<key>animation/res/monster/new/newFamugongren/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,625},{195,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,245}</string>
			</dict>
			<key>animation/res/monster/new/newFamugongren/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,613},{73,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,116}</string>
			</dict>
			<key>animation/res/monster/new/newFennuyouhun/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,603},{93,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,113}</string>
			</dict>
			<key>animation/res/monster/new/newFennuyouhun/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,757},{47,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,88}</string>
			</dict>
			<key>animation/res/monster/new/newFennuyouhun/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,223},{87,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,193}</string>
			</dict>
			<key>animation/res/monster/new/newFennuyouhun/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,453},{76,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,212}</string>
			</dict>
			<key>animation/res/monster/new/newFennuyouhun/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{263,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,299}</string>
			</dict>
			<key>animation/res/monster/new/newGuainiao/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,905},{79,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,92}</string>
			</dict>
			<key>animation/res/monster/new/newGuainiao/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,327},{206,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,124}</string>
			</dict>
			<key>animation/res/monster/new/newGuainiao/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,122},{99,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,194}</string>
			</dict>
			<key>animation/res/monster/new/newGuainiao/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{108,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,233}</string>
			</dict>
			<key>animation/res/monster/new/newGuainiao/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,418},{74,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,183}</string>
			</dict>
			<key>animation/res/monster/new/newGuainiao/wingl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,893},{126,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,401}</string>
			</dict>
			<key>animation/res/monster/new/newHuanlingshushi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,812},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>
			<key>animation/res/monster/new/newHuanlingshushi/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,111},{96,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,219}</string>
			</dict>
			<key>animation/res/monster/new/newLang/tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,257},{164,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,229}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon42.png</string>
			<key>realTextureFileName</key>
			<string>mon42.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>