<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monShenyuanmoxi/tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{861,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{861,204}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1},{158,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,400}</string>
			</dict>
			<key>animation/res/monster/monShuimu/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,799},{51,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,116}</string>
			</dict>
			<key>animation/res/monster/monShuimu/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,568},{56,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,121}</string>
			</dict>
			<key>animation/res/monster/monShuimu/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,403},{107,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,132}</string>
			</dict>
			<key>animation/res/monster/monShuimu/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,691},{64,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,106}</string>
			</dict>
			<key>animation/res/monster/monShuimu/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,826},{85,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,123}</string>
			</dict>
			<key>animation/res/monster/monShuimu/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,957},{47,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,75}</string>
			</dict>
			<key>animation/res/monster/monShuimu/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,917},{67,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,84}</string>
			</dict>
			<key>animation/res/monster/monShuimu/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,803},{170,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,207}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,397},{63,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,169}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,207},{110,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,309}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,917},{87,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,125}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,957},{47,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,76}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,207},{179,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,254}</string>
			</dict>
			<key>animation/res/monster/monXiaolong/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{421,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{421,417}</string>
			</dict>
			<key>animation/res/monster/monXiaolong/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,207},{233,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,188}</string>
			</dict>
			<key>animation/res/monster/monXiaolong/leg_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,826},{177,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,246}</string>
			</dict>
			<key>animation/res/monster/monXiaolong/leg_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,803},{114,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,140}</string>
			</dict>
			<key>animation/res/monster/monXiaolong/tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,518},{309,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,283}</string>
			</dict>
			<key>animation/res/monster/monXiaolong/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,207},{206,748}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,748}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon40.png</string>
			<key>realTextureFileName</key>
			<string>mon40.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>