<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/new/newGuainiao/wingr.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1},{220,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,433}</string>
			</dict>
			<key>animation/res/monster/new/newHuanlingshushi/body1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{460,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{460,395}</string>
			</dict>
			<key>animation/res/monster/new/newHuanlingshushi/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,436},{148,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,387}</string>
			</dict>
			<key>animation/res/monster/new/newLang/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{391,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,483}</string>
			</dict>
			<key>animation/res/monster/new/newLang/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,360},{228,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,321}</string>
			</dict>
			<key>animation/res/monster/new/newLang/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1},{291,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,357}</string>
			</dict>
			<key>animation/res/monster/new/newLinghou/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,739},{161,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,191}</string>
			</dict>
			<key>animation/res/monster/new/newLinghou/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,586},{151,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,285}</string>
			</dict>
			<key>animation/res/monster/new/newLinghou/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,683},{240,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,273}</string>
			</dict>
			<key>animation/res/monster/new/newLinghou/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,739},{158,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,264}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon43.png</string>
			<key>realTextureFileName</key>
			<string>mon43.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>