<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroJinglingfashi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{232,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,272}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolana/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,183},{52,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,51}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolana/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,261},{300,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,141}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolana/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,675},{130,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,162}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolana/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,323},{130,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,164}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolana/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,815},{136,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,219}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolana/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{304,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,463}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolana/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{370,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,568}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolishengzhi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,275},{46,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,286}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolishengzhi/arm_R.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,535},{136,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,278}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolishengzhi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,535},{138,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,199}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolishengzhi/book.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,807},{134,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,119}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolishengzhi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1},{180,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,219}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroLuolishengzhi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,877},{144,478}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,478}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNanshengzhi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1},{194,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,338}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNanshengzhi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,341},{192,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,263}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNanshengzhi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,183},{76,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon4.png</string>
			<key>realTextureFileName</key>
			<string>mon4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>