<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/new/newXieyan/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,288},{197,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,229}</string>
			</dict>
			<key>animation/res/monster/new/newXieyanbaojun/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1},{362,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,285}</string>
			</dict>
			<key>animation/res/monster/new/newXieyanbaojun/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,761},{278,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,232}</string>
			</dict>
			<key>animation/res/monster/new/newXiongebaotu/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,245},{106,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,122}</string>
			</dict>
			<key>animation/res/monster/new/newXiongebaotu/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1},{53,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,87}</string>
			</dict>
			<key>animation/res/monster/new/newXiongebaotu/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,353},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>
			<key>animation/res/monster/new/newXiongebaotu/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,761},{169,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,273}</string>
			</dict>
			<key>animation/res/monster/new/newXiongebaotu/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,466},{67,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,154}</string>
			</dict>
			<key>animation/res/monster/new/newXiongebaotu/weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1},{47,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,264}</string>
			</dict>
			<key>animation/res/monster/new/newXunjiekuilei/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,131},{112,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,130}</string>
			</dict>
			<key>animation/res/monster/new/newXunjiekuilei/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,90},{52,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,86}</string>
			</dict>
			<key>animation/res/monster/new/newXunjiekuilei/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,995},{28,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,77}</string>
			</dict>
			<key>animation/res/monster/new/newXunjiekuilei/ld.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,254},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>animation/res/monster/new/newXunjiekuilei/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,932},{69,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,306}</string>
			</dict>
			<key>animation/res/monster/new/newXunjiekuilei/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,178},{31,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,74}</string>
			</dict>
			<key>animation/res/monster/new/newXunjiekuilei/rd.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,267},{33,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,45}</string>
			</dict>
			<key>animation/res/monster/new/newLinghou/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1},{128,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,151}</string>
			</dict>
			<key>animation/res/monster/monXiaolong/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{372,758}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,758}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon45.png</string>
			<key>realTextureFileName</key>
			<string>mon45.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>