<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/new/newLinghou/tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,860},{158,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,202}</string>
			</dict>
			<key>animation/res/monster/new/newQiangdao/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,885},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>animation/res/monster/new/newQiangdao/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,576},{51,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,67}</string>
			</dict>
			<key>animation/res/monster/new/newQiangdao/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,624},{123,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,165}</string>
			</dict>
			<key>animation/res/monster/new/newQiangdao/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,245},{242,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,278}</string>
			</dict>
			<key>animation/res/monster/new/newQiangdao/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,643},{104,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,162}</string>
			</dict>
			<key>animation/res/monster/new/newShenyuanjuxi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{354,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,329}</string>
			</dict>
			<key>animation/res/monster/new/newShenyuanjuxi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,807},{170,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,193}</string>
			</dict>
			<key>animation/res/monster/new/newShenyuanjuxi/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,702},{148,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,184}</string>
			</dict>
			<key>animation/res/monster/new/newShenyuanjuxi/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,332},{221,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,188}</string>
			</dict>
			<key>animation/res/monster/new/newShifugui/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,807},{165,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,181}</string>
			</dict>
			<key>animation/res/monster/new/newShifugui/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,400},{62,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,120}</string>
			</dict>
			<key>animation/res/monster/new/newShifugui/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,261},{180,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,274}</string>
			</dict>
			<key>animation/res/monster/new/newShifugui/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1},{270,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,258}</string>
			</dict>
			<key>animation/res/monster/new/newShifugui/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,667},{113,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,191}</string>
			</dict>
			<key>animation/res/monster/new/newShushi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{242,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,375}</string>
			</dict>
			<key>animation/res/monster/new/newShushi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,791},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>animation/res/monster/new/newShushi/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,443},{203,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,232}</string>
			</dict>
			<key>animation/res/monster/new/newShushi/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,522},{94,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,119}</string>
			</dict>
			<key>animation/res/monster/new/newWeimu/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,648},{148,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,157}</string>
			</dict>
			<key>animation/res/monster/new/newWeimu/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,860},{125,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,156}</string>
			</dict>
			<key>animation/res/monster/new/newWeimu/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,489},{133,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,256}</string>
			</dict>
			<key>animation/res/monster/new/newWeimu/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,624},{130,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,259}</string>
			</dict>
			<key>animation/res/monster/new/newWeimu/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,332},{112,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,333}</string>
			</dict>
			<key>animation/res/monster/new/newXieyan/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,443},{31,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,104}</string>
			</dict>
			<key>animation/res/monster/new/newXieyan/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,261},{20,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,101}</string>
			</dict>
			<key>animation/res/monster/new/newXieyan/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,245},{80,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,153}</string>
			</dict>
			<key>animation/res/monster/new/newXieyan/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,443},{41,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,131}</string>
			</dict>
			<key>animation/res/monster/new/newXieyan/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{178,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,218}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon44.png</string>
			<key>realTextureFileName</key>
			<string>mon44.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>