<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroNvhaidao/1/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1},{336,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,522}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvjisi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,525},{153,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,299}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvjisi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{683,613}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{683,613}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvshengzhi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,616},{86,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,329}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvshengzhi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,680},{162,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,279}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvshengzhi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,926},{96,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,112}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvshengzhi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,616},{264,576}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,576}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/10_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,947},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/18_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,882},{117,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,140}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,882},{124,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,217}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,680},{148,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,142}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,882},{131,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,219}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,824},{100,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon7.png</string>
			<key>realTextureFileName</key>
			<string>mon7.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>