<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroNvjisi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,705},{212,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,527}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvjisi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1},{224,631}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,631}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvjisi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{548,458}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,458}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvshengzhi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,1},{240,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,702}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,461},{215,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,506}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/shoulder_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,705},{71,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,94}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvwushi/shoulder_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,778},{75,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,84}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,886},{110,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,123}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,899},{93,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,156}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/ll.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,634},{46,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,162}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,634},{148,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,250}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/shoulder_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,798},{72,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon8.png</string>
			<key>realTextureFileName</key>
			<string>mon8.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>