<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroHetu/heroNvzhanshi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,736},{242,579}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,579}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanqiangxia/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,309},{176,346}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,346}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanqiangxia/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{402,796}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,796}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanzhanshi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,799},{157,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,402}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanzhanshi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{373,733}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,733}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanzhanshi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1},{201,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,306}</string>
			</dict>
			<key>animation/res/monster/heroHetu/heroRenleinanzhanshi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,657},{75,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon9.png</string>
			<key>realTextureFileName</key>
			<string>mon9.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>